body {
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-3xl: #292929;
  --primary-font: "Georgia", sans-serif;
  --secondary-font: "Arial", sans-serif;
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

header .container {
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    height: 60px;
    margin-top: 61px;
    margin-left: 21px;
    align-items: baseline;
}

.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  gap: 5px;
}

.logo .logo-title {
  color: var(--color-primary);
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  margin: 0;
  font-size: 32px;
  letter-spacing: 0.06em;
  line-height: 110%;
}

.logo-subtitle {
  font-family: var(--secondary-font);
  color: var(--color-light-xl);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.main-nav {
  margin-right: 5px;
    margin-top: 16px;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 15px;
  gap: 35px;
}

.main-nav a {
  font-family: var(--secondary-font);
  color: var(--color-dark-m);
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.main-nav a:hover {
  color: var(--color-light-s);
}

#active-link {
  color: var(--color-light-s);
  border-bottom: 3px solid var(--color-primary);
  padding-bottom: 4px;
}

.background-img {
  position: absolute;
  background-image: url(../../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 908px;
  z-index: -1;
  top: 0;
}

.container-flex {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  justify-content: space-between;
}

.main-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 460px;
    margin-top: 128px;
    margin-left: 20px;
  }

  .main-title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    margin-bottom: 25px;
    line-height: 130%;
    max-width: 310px;
    color: var(--color-light-xl);
  }

  .main-subtitle {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    margin-bottom: 11px;
  }

  .btn-title {
    
    display: inline-block;
    margin-top: 20px;
    padding: 15px 44px;
    background: var(--color-primary);
    border-radius: 100px;
    text-decoration: none;
    border-style: none;
  }

  .btn-title-a {
    text-decoration: none;
    color: var(--color-dark-3xl);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-top: 11px;
}


  .btn-title:hover a {
    cursor: pointer;
    color: var(--color-dark-xl);
  }

.img-puppy {
  display: flex;
    flex-wrap: wrap;
    width: 686px;
    height: 728px;
    margin-right: 15px;
}

.about-shelter .container {
  height: 588px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.img-about {
  width: 300px;
    height: 408px;
    padding-top: 22px;
    padding-left: 67px;
}

.text-about {
  width: 430px;
  height: 380px;
}

.text-about h3 {
max-width: 370px;
}

.h3-heading {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: var(--color-dark-l);
  letter-spacing: 0.06em;
}

.p-description {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
  max-width: 430px;
}

.friends {
  background-color: var(--color-light-l);
}

.friends .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
}

#heading-our-friends {
  padding-top: 20px;
  text-align: center;
  max-width: 400px;
}


.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.slider h4 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.card {
display: flex;
max-width: 270px;
flex-direction: column;
align-items: center;
justify-content: space-between;
background-color: var(--color-light-s);
align-content: center;
border-radius: 9px;
cursor: pointer;
}

.card:hover .btn-learn-more {
  background-color: var(--color-primary-light);
}

.btn-corner {
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
}

.btn-corner:hover {
  cursor: pointer;
  
}

.btn-learn-more {
  width: 187px;
    height: 52px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    background: var(--color-light-s);
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-rest {
  display: flex;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 261px;
    height: 52px;
    background: var(--color-primary);
    border-radius: 100px;
    border-style: none;
    justify-content: center;
    align-items: center;
}

.btn-rest-a {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  line-height: 130%;
  text-decoration: none;
}

.btn-rest:hover {
background: var(--color-primary-light);
}

#help .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

 .item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px 135px;
}

.help-h3 {
  padding-top: 40px;
    max-width: 310px;
    text-align: center;
}

.help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-item h4 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  text-align: center;
}

#donation {
  display: flex;
  background: var(--color-light-l);
  height: 462px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.donation-container {
  display: flex;
  width: 915px;
}

.donation-text-container {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.img-dog {
  width: 505px;
  height: 261px;
  margin-top: 40px;
}

.card-number-container {
  display: flex;
    align-items: center;
    background: var(--color-primary);
    width: 354px;
    height: 43px;
    border-radius: 9px;
    justify-content: space-evenly;
}

.heading-donation {
  width: 300px;
  margin-bottom: 10px;
}

.donation-h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.credit-card-img {
  width: 30px;
  height: 23px;
}

.numbers {
  font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.italic-p {
  font-family: var(--secondary-font);
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-dark-m);
}

footer {
  display: flex;
  justify-content: space-between;
  background-image: url(../../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  
}

footer .container {
  width: 1280px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer-heading {
  width: 278px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: var(--color-light-xl);
}

#contact {
  padding-top: 20px;
}

#contact span {
  display: block;
  padding-left: 20px;
}

#contact span a {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  text-decoration: none;
}

.footer-icon-center {
display: flex;
    flex-direction: row;
    height: 50px;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
}
