
*{
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  width: 100vw;
  height: 3796px;
  margin: 0px;
  background: #d8cece;
  overflow-x: hidden;
}

#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 908px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  /* start-screen-gradient-background */
  background: url("../../assets/images/95577108af837b8b441616746225b66e.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
    
}


.header-logo-nav {
  position: absolute;
  width: 1200px;
  height: 60px;
  top: 60px;
}

.header-logo-nav h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: start;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo-title {
  font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
/* or 35px */

display: flex;
flex-direction: column;
align-items: center;
letter-spacing: 0.06em;
}

.logo-title a {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgba(241, 205, 179, 1);
}

.logo-title p {
  font-family: "Arial";
    position: absolute;
    top: 44px;
    left: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 443px;
  height: 27px;
  left: 747px;
  top: 9px;
}

nav a {
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
  /* padding-top: 16px; */
  padding-bottom: 20px;
  font-family: 'Arial';
  color: rgba(241, 205, 179, 1);
}

nav a:hover {
  text-decoration: none;
  border-bottom: 3px solid #F1CDB3;;
}

#about-decoration  {
  color: #FAFAFA;
  text-decoration: none;
  border-bottom: 3px solid #F1CDB3;
}

.make-friend {
    position: absolute;
    width: 1200px;
    height: 728px;
    top: 180px;   
}

.about-photo {
  position: absolute;
  width: 460px;
  height: 354px;
  left: -1px;
  top: 132px;
    
}

.about-photo h2 {
    position: absolute;
width: 310px;
height: 114px;
left: calc(50% - 310px/2 - 75px);
bottom: 208px;
color: rgba(255, 255, 255, 1);
/* h2 */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 130%;
/* or 57px */
display: flex;
align-items: center;

}

.about-photo p {
    position: absolute;
width: 460px;
height: 72px;
left: calc(50% - 460px/2);
bottom: 94px;
color: rgba(205, 205, 205, 1);
/* paragraph-l */
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* or 24px */
display: flex;
align-items: center;
}

.about-photo button {
display: flex;
flex-direction: column;
align-items: center;
padding: 15px 45px;
border: #F1CDB3;
position: absolute;
width: 207px;
height: 52px;
left: calc(50% - 207px/2 - 126.5px);
bottom: 0px;
/* color-primary */
background: #F1CDB3;
border-radius: 100px;
}

.about-photo button:hover {
 background-color: #e09d6d;
}

.about-photo button a {
 width: 129px;
text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  
  letter-spacing: 0.06em;
  
  /* color-dark-3xl */
  
  color: #292929;
}

.image-paste {
position: absolute;
width: 698px;
height: 728px;
left: calc(50% - 612px/2 + 209px);
bottom: 0;

background: url(../../assets/images/start-screen-puppy.png);
}

.about-shelter {
position: absolute;
height: 588px;
left: 0%;
right: 0%;
top: 908px;
/* color-light-xl */
background: #FFFFFF;
}

.container-qoutes {
position: absolute;
width: 1200px;
height: 408px;
left: calc(50% - 1200px/2 - 20px);
top: calc(50% - 408px/2);
}

.photo-dog {
  position: absolute;
  width: 300px;
  height: 408px;
  left: 193px;
  top: -8px;
}

.qoutes {
  position: absolute;
  width: 430px;
  height: 380px;
  left: 615px;
  top: 4px;
}


.qoutes h3 {
  position: absolute;
  width: 400px;
  height: 90px;
  left: 0px;
  top: 0px;
  
  /* h3 */
  
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  
  /* color-dark-l */
  
  color: #545454;
}

.qoutes p {
position: absolute;
width: 430px;
height: 96px;
left: 0px;
top: 115px;

/* paragraph-l */

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* or 24px */


/* color-dark-xl */

color: #4C4C4C;
}

#second-p {
  position: absolute;
  width: 430px;
  height: 144px;
  left: 0px;
  top: 236px;

  /* paragraph-l */

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */

  display: flex;
  align-items: center;

  /* color-dark-xl */

  color: #4C4C4C;
}

.ourfriends {
  position: absolute;
  height: 877px;
  left: 0%;
  right: 0%;
  top: 1496px;

  /* color-light-l */

  background: #F6F6F6;
}

.ourfriends-container {
  position: absolute;
  width: 1200px;
  height: 697px;
  left: calc(50% - 1200px/2);
  top: 80px;
}

.ourfriends-container h3 {
  position: absolute;
  width: 468px;
  height: 90px;
  left: 400px;
  top: 0px;

/* h3 */

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}

.card-containter {
  position: absolute;
  width: 1200px;
  height: 435px;
  left: 1px;
  top: 150px;
}

.card {
  position: absolute;
  width: 270px;
  height: 435px;
  left: 105px;
  top: 0px;
  /* color-light-s */
  background: #FAFAFA;
  border-radius: 9px;
}

.card:hover {
  box-shadow: 5px 5px  #bbb3b3;
  cursor: pointer;
}

.card-arrow-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 19px;
  /* color-primary */
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
}

#left-arrow {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 0px;
  top: 192px;
  cursor: pointer;
}

#left-arrow:hover {
  background-color: #F1CDB3;
}

#right-arrow {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 1150px;
  top: 192px;
}

#right-arrow:hover {
  background-color: #F1CDB3;
}

#card1 {
  position: absolute;
  width: 270px;
  height: 435px;
  left: 105px;
  top: 0px;
}

#card2 {
  position: absolute;
    width: 270px;
    height: 435px;
    left: 460px;
    top: 0px;

}

#card3 {
  position: absolute;
  width: 270px;
  height: 435px;
  left: 824px;
  top: 0px;
}

.card-containter h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

#card1 h3 {
  position: absolute;
  width: 74px;
  height: 23px;
  left: 98px;
  top: 300px;
}

#card2 h3 {
  position: absolute;
  width: 74px;
  height: 23px;
  left: 98px;
  top: 300px;
}

#card3 h3 {
  position: absolute;
  width: 68px;
  height: 23px;
  left: 101px;
  top: 300px;
}

.card-containter img {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 37.93%;
  border-radius: 9px 9px 0px 0px;
  }

  .learn-more-button {
    
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    cursor: pointer;
    position: absolute;
    width: 187px;
    height: 52px;
    left: 39.5px;
    top: 356px;
    border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -2px 0px;
  
  }

  .learn-more-button:hover {
   background-color: #aa9898;
  }

  .learn-more-button p {
    position: static;
    left: 24.06%;
    right: 24.06%;
    top: 28.85%;
    bottom: 28.85%;
    margin-left: 44px;
    margin-top: 10px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    /* color-dark-3xl */
    color: #292929;
  }

  .button-rest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  position: absolute;
  width: 261px;
  height: 52px;
  left: 470px;
  top: 645px;
  border: #F1CDB3;
/* color-primary */
background: #F1CDB3;
border-radius: 100px;
  }

  .button-rest a {
    font-family: 'Georgia';
    font-style: normal;
    text-decoration: none;
    width: 200px;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
  }

  .button-rest:hover {
    box-shadow: 2px 3px #5b483a;
  }

  #help-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 611px;
    top: 2373px;
    background: #FFFFFF;
  }

  #help-content {
        position: absolute;
    width: 1200px;
    height: 431px;
    left: calc(50% - 1280px/2);
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #help-content h3 {
    width: 376px;
    height: 90px;
    position: absolute;
    left: 453px;
    top: 81px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
  }

  #list-help {
    /* position: absolute; */
    width: 1026px;
    height: 281px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    /* left: 87px;
    top: 150px; */
  }

  .first-five {
    /* position: absolute; */
    width: 1026px;
    height: 140px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    /* left: 87px;
    top: 10px; */
  }

  .last-four {
    /* position: absolute; */
    width: 1026px;
    height: 140px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    /* left: 87px;
    top: 150px; */
  }

  .icon-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    width: 163px;
    height: 113px;
  }

  #icon-toys {
    top: 233px;
    left: 548px;
  }

  #icon-toys h4 {
    padding-top: 20px;
    line-height: 190%;
  }

  #bowl-cup {
    top: 233px;
    left: 775px;
  }
  #bowl-cup h4 {
    padding-top: 20px;
    line-height: 190%;
  }

  #icon-shampoos {
    top: 233px;
    left: 1021px;
  }

  #icon-shampoos h4 {
    padding-top: 20px;
    line-height: 190%;
  }

  #icon-pet-food {
    top: 234px;
    left: 87px;
  }
  #icon-pet-food h4 {
    padding-top: 20px;
    line-height: 190%;
  }

  #icon-transportation {
    top: 234px;
    left: 323px;
  }

  #icon-transportation h4 {
    padding-top: 20px;
    line-height: 190%;
  }

  #icon-vitamins {
    top: 402px;
    left: 173px;
  }

  #icon-vitamins h4 {
    padding-top: 20px;
    line-height: 190%;
  }

  #icon-medicines {
    top: 402px;
    left: 390px;
  }

  #icon-medicines h4 {
    padding-top: 20px;
    line-height: 190%;
  }

  #icon-collars-leashes {
    top: 401px;
    left: 641px;
    width: auto;
  }

  #icon-collars-leashes h4 {
    padding-top: 20px;
    line-height: 190%;
  }

  #icon-sleeping-area {
    top: 401px;
    left: 917px;
  }

  #icon-sleeping-area h4 {
    padding-top: 20px;
    line-height: 190%;
  }

  h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
      }

      #donation-block {
    position: absolute;
    height: 462px;
    left: 0%;
    right: 0%;
    top: 2984px;
    /* color-light-l */
    background: #F6F6F6;
  }

  .donation-section {
    position: absolute;
    width: 915px;
    height: 282px;
    left: calc(50% - 915px/2 + 0.5px);
    top: 80px;
  }

  

  #donation-dog {
    position: absolute;
    top: 11px;
    left: 1px;
  }

  

  .donation-section h3 {
    position: absolute;
    width: 300px;
    height: 90px;
    left: 536px;
    top: 1px;
    /* h3 */
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
  }

  .donation-section h5 {

    position: absolute;
    width: 350px;
    height: 38px;
    left: 536px;
    top: 100px;
    /* h5 */
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
  }

  .credit-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    position: absolute;
    /* width: 349px;
    height: 43px; */
    left: 536px;
    top: 147px;
    /* color-primary */
    background: #F1CDB3;
    border-radius: 9px;
  }

  .credit-card img {
    /* position: absolute; */
    width: 30px;
    height: 23px;
    /* left: 15px;
    top: 10px; */
  }

  .credit-card .card-numbers {
    padding-left: 12px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    margin: 0;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

/* color-dark-l */
color: rgba(84, 84, 84, 1)

  }

  .text-card {
    position: absolute;
    width: 380px;
    height: 72px;
    left: 536px;
    top: 210px;
    /* donation-description */
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    display: flex;
    align-items: center;
    /* color-dark-m */
    color: #B2B2B2;
  }
  footer {
    width: 100%;
    height: 350px;
    background: url("/assets/images/95577108af837b8b441616746225b66e.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 3446px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .contact {
    width: 278px;
    height: 234px;
    position: absolute;
    left: 40px;
    top: 56px;
}
  
  footer .contact ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 109px;
    left: -1px;
  }
  footer .contact ul li {
    list-style-type: none;
    padding: 20px 0px;
  }
  footer .contact ul li a {
    font-family: 'Georgia';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    letter-spacing: 0.06em;
    /* color-primary */

color: #F1CDB3;
  }
  footer .contact ul li a img {
    padding-right: 10px;
  }

  footer .contact h3 {
    width: 286px;
    height: 90px;
    /* h3 */
    font-size: 35px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    /* color-light-xl */
    color: #FFFFFF;
  }
  footer .address {
    width: 302px;
    height: 234px;
    position: absolute;
    left: 479px;
    top: 56px;
  }
  footer .address ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
  }
  footer .address ul li {
    list-style-type: none;
    padding: 20px 0px;
  }
  footer .address ul li a {
    text-decoration: none;
    color: rgba(241, 205, 179, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .address ul li a img {
    padding-right: 10px;
  }

#mailto h4{
    position: absolute;
    left: 60px;
    top: 25px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

#phone h4 {
  position: absolute;
  left: 61px;
  width: 200px;
  top: 96px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

#location h4 {
  width: 260px;
    height: 46px;
    position: absolute;
    left: calc(50% - 263px/2 + 21px);
    top: 111px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

#location h5 {
  width: 260px;
  height: 46px;
  position: absolute;
  left: calc(50% - 263px/2 + 21px);
  top: 148px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

#location img {
  position: absolute;
    top: 131px;
    left: -1px;
}

#location2 h4 {
  width: 260px;
  height: 46px;
  position: absolute;
  left: calc(50% - 263px/2 + 21px);
  top: 196px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

#location2 img {
  position: absolute;
  top: 203px;
  left: -1px;
}

  footer .address h3 {
    width: 278px;
    height: 90px;
    
    /* h3 */
    font-size: 35px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* or 45px */
    
    letter-spacing: 0.06em;
    
    /* color-light-xl */
    
    color: #FFFFFF;
  }
  footer .dog {
    width: 300px;
    height: 310px;
    background-image: url(../../assets/images/footer-puppy.png);
    position: absolute;
    right: 39px;
    top: 39px;
  }
